@page
@model Janssen.Core.Web3.Pages.Admin.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

@*<h1>Details</h1>
    <hr />
    <div class="">
        <div>
            <h2>Personal Info</h2>
        </div>
        <hr />
        @foreach (var student in Model.Students)
        {
            if (student.Id == Model.StudentToView)
            {
                <p>@student.FirstName</p>
            }
        }
    </div>*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SAJCTI - Student Details</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Enroll2.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/img-loading-anim.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/sk.cube.loader.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">Students Details</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!-- <a class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a> -->
                </li>
                <liv class="nav-item">
                    <a class="nav-link bg-secondary" style="margin-left: 5px;" href="/admin">Go Back</a>
                </liv>
                <li class="nav-item">
                    <a class="nav-link bg-secondary" style="margin-left: 5px;" href="mailto:mortalmanny@live.com">Report an error</a>
                </li>

                @*<li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
</div>
    </nav>


    <div class="container">


        <form method="post" id="student-enroll-form">
            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="enrollment-status">Enrollment Status</label>
                    <input readonly asp-for="Student.EnrollmentStatus" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.EnrollmentStatus"></span>
                </div>
                <div class="form-group col-lg-4">
                    @{
                        int age = DateTime.Today.Year - Model.Student.DateOfBirth.Year;
                    }
                    <label>Age</label>
                    <input readonly value=@age class="form-control" required />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.FirstName"></label>
                    <input readonly asp-for="Student.FirstName" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.FirstName"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.MiddleName"></label>
                    <input readonly asp-for="Student.MiddleName" class="form-control" />
                    <span class="alert-danger" asp-validation-for="Student.MiddleName"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.LastName"></label>
                    <input readonly asp-for="Student.LastName" class="form-control" required />
                    <span class="alert-danger" asp-validation-for="Student.LastName"></span>
                </div>
            </div>

            <div class="row">


                <div class="form-group col-lg-4">
                    <label for="gender">Gender</label>
                    <input readonly asp-for="Student.Gender" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.Gender"></span>
                </div>

                <div class="form-group col-lg-4">
                    <label asp-for="Student.DateOfBirth"></label>
                    <input readonly class="form-control" type="date" asp-for="Student.DateOfBirth" required />
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Student.PermanentAddress"></label>
                    <input readonly asp-for="Student.PermanentAddress" class="form-control" placeholder="House No., Street Name, Barangay, City, Zip Code, Province, Country" required />
                    <span class="alert-danger" asp-validation-for="Student.PermanentAddress"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Religion"></label>
                    <input readonly asp-for="Student.Religion" class="form-control" placeholder="e.g. Roman Catholic" required />
                    <span class="alert-danger" asp-validation-for="Student.Religion"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.PlaceOfBirth"></label>
                    <input readonly asp-for="Student.PlaceOfBirth" class="form-control" placeholder="city or municipality" required />
                    <span class="alert-danger" asp-validation-for="Student.PlaceOfBirth"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Sacraments"></label>
                    <input readonly asp-for="Student.Sacraments" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.Sacraments"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Nationality"></label>
                    <input readonly asp-for="Student.Nationality" class="form-control" placeholder="e.g. Filipino" required />
                    <span class="alert-danger" asp-validation-for="Student.Nationality"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.StayingWith"></label>
                    <input readonly asp-for="Student.StayingWith" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.StayingWith"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Phone"></label>
                    <input readonly asp-for="Student.Phone" class="form-control" placeholder="e.g. 9684445885" required />
                    <span class="alert-danger" asp-validation-for="Student.Phone"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.PreviousSchool"></label>
                    <input readonly asp-for="Student.PreviousSchool" class="form-control" placeholder="specify complete name of last attended school" required />
                    <span class="alert-danger" asp-validation-for="Student.PreviousSchool"></span>
                </div>
                <div class="form-group col-lg-8">
                    <label asp-for="Student.PrevSchAddress"></label>
                    <input readonly asp-for="Student.PrevSchAddress" class="form-control" placeholder="street name, barangay, zip code, city, country" required />
                    <span class="alert-danger" asp-validation-for="Student.PrevSchAddress"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Transport"></label>
                    <input readonly asp-for="Student.Transport" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.Transport"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Email"></label>
                    <input readonly asp-for="Student.Email" class="form-control" placeholder="e.g. luzon@gmail.com" required />
                    <span class="alert-danger" asp-validation-for="Student.Email"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.HowTheyFindUs"></label>
                    <input readonly asp-for="Student.HowTheyFindUs" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.HowTheyFindUs"></span>
                </div>
            </div>
            <h2>Family Background</h2>
            <div class="row">
                <div class="form-group col-lg-4">
                    <h3>Father</h3>
                    <input readonly asp-for="Student.FatherName" class="form-control" placeholder="Father's Full Name" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherName"></span>
                    <input readonly asp-for="Student.FatherAge" class="form-control" placeholder="Father's Age" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherAge"></span>
                    <input readonly asp-for="Student.FatherOccupation" class="form-control" placeholder="Father's Occupation" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherOccupation"></span>
                    <input readonly asp-for="Student.FatherEducationLevel" class="form-control" placeholder="Father's Education Level" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherEducationLevel"></span>
                    <input readonly asp-for="Student.FatherPhone" class="form-control" placeholder="Father's Contact Number, e.g. 9889995225" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherPhone"></span>
                </div>
                <div class="form-group col-lg-4">
                    <h3>Mother</h3>
                    <input readonly asp-for="Student.MotherName" class="form-control" placeholder="Mother's Full Name" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherName"></span>
                    <input readonly asp-for="Student.MotherAge" class="form-control" placeholder="Mother's Age" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherAge"></span>
                    <input readonly asp-for="Student.MotherOccupation" class="form-control" placeholder="Mother's Occupation" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherOccupation"></span>
                    <input readonly asp-for="Student.MotherEducationLevel" class="form-control" placeholder="Mother's Education Level" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherEducationLevel"></span>
                    <input readonly asp-for="Student.MotherPhone" class="form-control" placeholder="Mother's Contact Number, e.g. 9195882331" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherPhone"></span>
                </div>
                <div class="form-group col-lg-4">
                    <h3>Other Family/Guardian</h3>
                    <input readonly asp-for="Student.OtherFamilyMemberName" class="form-control" placeholder="Other family member's Full Name" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberName"></span>
                    <input readonly asp-for="Student.OtherFamilyMemberOccupation" class="form-control" placeholder="Other family member's Occupation" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberOccupation"></span>
                    <input readonly asp-for="Student.OtherMemberAge" class="form-control" placeholder="Age" />
                    <span class="alert-danger" asp-validation-for="Student.OtherMemberAge"></span>
                    <input readonly asp-for="Student.OtherFamilyMemberEducationLevel" class="form-control" placeholder="Other family member's Education Level" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberEducationLevel"></span>
                    <input readonly asp-for="Student.OtherFamilyMemberPhone" class="form-control" placeholder="Other family member's Contact Number" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberPhone"></span>
                </div>
            </div>

            @*UPLOAD OF DOCUMENTS*@

        <div class="row">
            @{
                
                string[] cardLabels = { "",
                        "PSA Document Upload",
                        "Photo ID",
                        "Certificate of Good Moral",
                        "School Report Card" };
                string[] cardDescription = { "",
                        "Please make sure the scanned file is clear and less than 2mb.",
                    "Please make sure your portrait photo is 2x2(or square) and less than 2mb.",
                    "Please make sure the scanned file is clear and less than 2mb.",
                    "Please make sure the scanned image is clear and less than 2mb"
                };
                string[] imageUrls = { "",
                        Model.Student.ImageUrlPSA,
                        Model.Student.ImageUrlID,
                        Model.Student.ImageUrlMoral,
                        Model.Student.ImageUrlReportCard
                    };

                string[] imagePreviews = { "",
                        Model.Student.ImageUrlPSA.Replace( "upload" ,"upload/w_300,q_auto:low/"),
                    Model.Student.ImageUrlID.Replace( "upload" ,"upload/w_300,q_auto:low/"),
                    Model.Student.ImageUrlMoral.Replace( "upload" ,"upload/w_300,q_auto:low/"),
                    Model.Student.ImageUrlReportCard.Replace( "upload" ,"upload/w_300,q_auto:low/")
                    };

                for (int i = 1; i < 5; i++)
                {
                    <div class="col-lg-3">
                        <div class="card">
                            <img class="card-img-top" style="width:100%;" src=@imagePreviews[i] id=@($"img-preview{i}") alt="Document Photo">
                            <div class="card-body">
                                <h5 class="card-title">@cardLabels[i]</h5>
                                @*<p class="card-text">@cardDescription[i]</p>*@
                                <a class="btn btn-primary bg-primary text-white" href=@imageUrls[i] target="_blank">View Full Document</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
            <hr />
            <br />
            <div class="submit-btn-container">
                @*<input readonly type="submit" value="Save" class="btn btn-primary submit-btn" />*@
                <a class="btn btn-primary bg-primary text-white" href="/admin">Go Back</a>
            </div>

        </form>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*upload scripts*@
    @*<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/upload.js"></script>*@

</body>
</html>
