
@*@page
@using Janssen.Core.Web3.Models
@model Janssen.Core.Web3.Pages.Admin.EditModel

@{
    Layout = null;
}

<div class="container">
    <h3>Edit Student</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Student.Id" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Student.FirstName"></label>
                <input asp-for="Student.FirstName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Student.PrevSchool"></label>
                <input asp-for="Student.PrevSchool" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Student.Year"></label>
                <input asp-for="Student.Year" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Student.Gender"></label>
                <input asp-for="Student.Gender" cl class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Student.ImageUrl"></label>
                <input asp-for="Student.ImageUrl" class="form-control" />
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/index">Cancel</a>
    </form>
</div>*@