@page
@model Janssen.Core.Web3.Pages.Admin.TestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    TEST
</body>
</html>
