@page
@model Janssen.Core.Web3.Pages.Admin.UpdateModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
</body>
</html>
