@page
@model Janssen.Core.Web3.Pages.DisclaimerModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SAJCTI - Enroll</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="login-page">
            <div class="form">
                <form method="post" class="login-form" id="login-form">

                    <p>

                        The data that you will submit to us will be used in
                        determining whether you will be accepted to proceed
                        with payment and taking of exams.

                    </p>
                    <a href="/enroll" class="btn btn-primary">Proceed</a>
                </form>
            </div>
        </div>
    </section>
    <script src="~/js/login.js"></script>
</body>
</html>
