@page
@model Janssen.Core.Web3.Pages.Enroll2Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll2</title>
    <link href="~/css/Enroll2.css" rel="stylesheet" />
    <link href="~/css/upload.css" rel="stylesheet" />
</head>
<body>
    <div class="card">
        <img src="~/imgs/placeholder.jpg" id="img-preview" />
        <label class="file-upload-container" for="file-upload">
            <input id="file-upload" type="file" style="display:none;">
            Select an Image
        </label>
        <div id="myProgress">
            <div id="myBar">10%</div>
        </div>
    </div>
    <form action="post">
        <input type="text" />
        <div id="url-img-input"></div>
        <button type="submit">submit</button>
    </form>
    <!-- Scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/upload.js"></script>
</body>
</html>
