@page
@model Janssen.Core.Web3.Pages.Enroll2Model
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll2</title>
    <link href="~/css/Enroll2.css" rel="stylesheet" />
    <link href="~/css/upload.css" rel="stylesheet" />
</head>
<body>
    
    <form action="post" id="student-enroll-form">
        <input type="text" value="beans"/>
        <div id="url-img-input"></div>
        <button type="submit">submit</button>
    </form>
    <!-- Scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/upload.js"></script>

    
</body>

</html>
