@page
@model Janssen.Core.Web3.Pages.Enroll2Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll2</title>
    <link href="~/css/Enroll2.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="login-page">
            <div class="form">
                @*<form method="post" class="login-form">
                    <input asp-for="Password" type="text" placeholder="username" required />
                    <input asp-for="Password" type="password" placeholder="password" required />
                    <button>login</button>
                    <p class="text-danger" style="color:red !important;">
                        @Model.Message
                        @RouteData.Values["msg"]
                    </p>
                </form>*@
            </div>
        </div>
    </section>
</body>
</html>
