@page
@model Janssen.Core.Web3.Pages.EnrollNextStepModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SAJCTI - Next Step</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="login-page">
            <div class="form">
                <form method="post" class="login-form">

                    <p class="text-success">
                        Complete. Here is the next step. Wait a few hours while we process your submitted data. We will contact you soon through your email or phone number.
                    </p>
                    <a href="/" class="btn btn-primary">Go back to Home Page</a>

                    @*<p class="message">Not registered? <a href="#">Create an account</a></p>*@
                </form>
            </div>
        </div>
    </section>
    <script src="~/js/login.js"></script>
</body>
</html>
