@page
@using Janssen.Core.Web3.Models @*namespace*@
@model Janssen.Core.Web3.Pages.EnrollModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SAJCTI - Enroll</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Enroll2.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/img-loading-anim.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/sk.cube.loader.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="container">
        <h3>Student Enrollment</h3>
        <hr />
        <br />


        <form method="post" id="student-enroll-form">



            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="enrollment-status">Enrollment Status</label>
                    <select asp-for="Student.EnrollmentStatus" class="form-control" id="enrollment-status">
                        <option>Continuing Student</option>
                        <option>New Student</option>
                        <option>Returnee</option>
                    </select>
                    <span class="alert-danger text-danger" asp-validation-for="Student.EnrollmentStatus"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.FirstName"></label>
                    <input asp-for="Student.FirstName" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.FirstName"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.MiddleName"></label>
                    <input asp-for="Student.MiddleName" class="form-control" />
                    <span class="alert-danger" asp-validation-for="Student.MiddleName"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.LastName"></label>
                    <input asp-for="Student.LastName" class="form-control" required />
                    <span class="alert-danger" asp-validation-for="Student.LastName"></span>
                </div>
            </div>

            <div class="row">


                <div class="form-group col-lg-4">
                    <label for="gender">Gender</label>
                    <select asp-for="Student.Gender" class="form-control" id="gender">
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                    <span class="alert-danger text-danger" asp-validation-for="Student.Gender"></span>
                </div>

                <div class="form-group col-lg-4">
                    <label asp-for="Student.DateOfBirth"></label>
                    <input class="form-control" type="date" asp-for="Student.DateOfBirth" required />
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Student.PermanentAddress"></label>
                    <input asp-for="Student.PermanentAddress" class="form-control" placeholder="House No., Street Name, Barangay, City, Zip Code, Province, Country" required />
                    <span class="alert-danger" asp-validation-for="Student.PermanentAddress"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Religion"></label>
                    <input asp-for="Student.Religion" class="form-control" placeholder="e.g. Roman Catholic" required />
                    <span class="alert-danger" asp-validation-for="Student.Religion"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.PlaceOfBirth"></label>
                    <input asp-for="Student.PlaceOfBirth" class="form-control" placeholder="city or municipality" required />
                    <span class="alert-danger" asp-validation-for="Student.PlaceOfBirth"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Sacraments"></label>
                    <select asp-for="Student.Sacraments" class="form-control">
                        <option>Baptism</option>
                        <option>First Communion</option>
                        <option>Confirmation</option>
                    </select>
                    <span class="alert-danger text-danger" asp-validation-for="Student.Sacraments"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Nationality"></label>
                    <input asp-for="Student.Nationality" class="form-control" placeholder="e.g. Filipino" required />
                    <span class="alert-danger" asp-validation-for="Student.Nationality"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.StayingWith"></label>
                    <select asp-for="Student.StayingWith" class="form-control" id="gender" onchange='CheckOtherGuardians(this.value);'>
                        <option>Parents</option>
                        <option>Guardians</option>
                        <option value="others">Others</option>
                    </select>
                    <span class="alert-danger text-danger" asp-validation-for="Student.StayingWith"></span>
                    <div id="guardians" style="display: none;">
                        <input asp-for="Student.StayingWith" class="form-control" placeholder="Specify" required />
                        <span class="alert-danger" asp-validation-for="Student.StayingWith"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Phone"></label>
                    <input asp-for="Student.Phone" class="form-control" placeholder="e.g. 9684445885" required />
                    <span class="alert-danger" asp-validation-for="Student.Phone"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.PreviousSchool"></label>
                    <input asp-for="Student.PreviousSchool" class="form-control" placeholder="specify complete name of last attended school" required />
                    <span class="alert-danger" asp-validation-for="Student.PreviousSchool"></span>
                </div>
                <div class="form-group col-lg-8">
                    <label asp-for="Student.PrevSchAddress"></label>
                    <input asp-for="Student.PrevSchAddress" class="form-control" placeholder="street name, barangay, zip code, city, country" required />
                    <span class="alert-danger" asp-validation-for="Student.PrevSchAddress"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Transport"></label>
                    <select asp-for="Student.Transport" class="form-control">
                        <option>Public</option>
                        <option>Private</option>
                    </select>
                    <span class="alert-danger text-danger" asp-validation-for="Student.Transport"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.Email"></label>
                    <input asp-for="Student.Email" class="form-control" placeholder="e.g. luzon@gmail.com" required />
                    <span class="alert-danger" asp-validation-for="Student.Email"></span>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Student.HowTheyFindUs"></label>
                    <select asp-for="Student.HowTheyFindUs" class="form-control" onchange='HowTheyFindUs(this.value);'>
                        <option>Relative/Family</option>
                        <option>News Print</option>
                        <option>Classmate</option>
                        <option>Tarpaulin</option>
                        <option>Friend</option>
                        <option>Flyer</option>
                        <option>Radio</option>
                        <option>Facebook</option>
                        <option value="others">Others</option>
                    </select>
                    <span class="alert-danger text-danger" asp-validation-for="Student.HowTheyFindUs"></span>
                    <div id="HowTheyFindUs" style="display: none;">
                        <input asp-for="Student.HowTheyFindUs" class="form-control" placeholder="Specify how you found us" required />
                        <span class="alert-danger" asp-validation-for="Student.HowTheyFindUs"></span>
                    </div>
                </div>
            </div>
            <h2>Family Background</h2>
            <div class="row">
                <div class="form-group col-lg-4">
                    <h3>Father</h3>
                    <input asp-for="Student.FatherName" class="form-control" placeholder="Father's Full Name" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherName"></span>
                    <input asp-for="Student.FatherAge" class="form-control" placeholder="Father's Age" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherAge"></span>
                    <input asp-for="Student.FatherOccupation" class="form-control" placeholder="Father's Occupation" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherOccupation"></span>
                    <input asp-for="Student.FatherEducationLevel" class="form-control" placeholder="Father's Education Level" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherEducationLevel"></span>
                    <input asp-for="Student.FatherPhone" class="form-control" placeholder="Father's Contact Number, e.g. 9889995225" required />
                    <span class="alert-danger" asp-validation-for="Student.FatherPhone"></span>
                </div>
                <div class="form-group col-lg-4">
                    <h3>Mother</h3>
                    <input asp-for="Student.MotherName" class="form-control" placeholder="Mother's Full Name" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherName"></span>
                    <input asp-for="Student.MotherAge" class="form-control" placeholder="Mother's Age" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherAge"></span>
                    <input asp-for="Student.MotherOccupation" class="form-control" placeholder="Mother's Occupation" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherOccupation"></span>
                    <input asp-for="Student.MotherEducationLevel" class="form-control" placeholder="Mother's Education Level" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherEducationLevel"></span>
                    <input asp-for="Student.MotherPhone" class="form-control" placeholder="Mother's Contact Number, e.g. 9195882331" required />
                    <span class="alert-danger" asp-validation-for="Student.MotherPhone"></span>
                </div>
                <div class="form-group col-lg-4">
                    <h3>Other Family/Guardian</h3>
                    <input asp-for="Student.OtherFamilyMemberName" class="form-control" placeholder="Other family member's Full Name" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberName"></span>
                    <input asp-for="Student.OtherFamilyMemberOccupation" class="form-control" placeholder="Other family member's Occupation" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberOccupation"></span>
                    <input asp-for="Student.OtherMemberAge" class="form-control" placeholder="Age" />
                    <span class="alert-danger" asp-validation-for="Student.OtherMemberAge"></span>
                    <input asp-for="Student.OtherFamilyMemberEducationLevel" class="form-control" placeholder="Other family member's Education Level" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberEducationLevel"></span>
                    <input asp-for="Student.OtherFamilyMemberPhone" class="form-control" placeholder="Other family member's Contact Number" />
                    <span class="alert-danger" asp-validation-for="Student.OtherFamilyMemberPhone"></span>
                </div>
            </div>

            @*UPLOAD OF DOCUMENTS*@

            <div class="row">
                @{
                    string[] cardLabels = { "", "PSA Document Upload", "Photo ID", "Certificate of Good Moral", "School Report Card" };
                    string[] cardDescription = { "", "Please make sure the scanned file is clear and less than 2mb.",
                    "Please make sure your portrait photo is 2x2(or square) and less than 2mb.",
                    "Please make sure the scanned file is clear and less than 2mb.",
                    "Please make sure the scanned image is clear and less than 2mb"
                };

                    for (int i = 1; i < 5; i++)
                    {
                        <div class="col-lg-3">
                            <div class="card">
                                @*<div class="card-img-top" id=@($"img-loader{i}")>
                                        <div class=@($"img-loader-inner{i}")>
                                            <div class="outerCircle"></div>
                                            <div class="innerCircle"></div>
                                            <div class="icon"></div>
                                        </div>
                                    </div>*@
                                <div class="card-img-top">
                                    <div class="sk-cube-container" id=@($"img-loader{i}")>
                                        <div class="sk-cube-grid">
                                            <div class="sk-cube sk-cube1"></div>
                                            <div class="sk-cube sk-cube2"></div>
                                            <div class="sk-cube sk-cube3"></div>
                                            <div class="sk-cube sk-cube4"></div>
                                            <div class="sk-cube sk-cube5"></div>
                                            <div class="sk-cube sk-cube6"></div>
                                            <div class="sk-cube sk-cube7"></div>
                                            <div class="sk-cube sk-cube8"></div>
                                            <div class="sk-cube sk-cube9"></div>
                                        </div>
                                    </div>
                                    <img style="width:100%;" src="~/imgs/placeholder.jpg" id=@($"img-preview{i}") alt="Document Photo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@cardLabels[i]</h5>
                                    <p class="card-text">@cardDescription[i]</p>
                                    <label class="btn btn-primary" id=@($"file-upload-container{i}") for=@($"file-upload{i}")>
                                        <input id=@($"file-upload{i}") type="file" style="display:none;">
                                        Select Photo
                                    </label>
                                    <div id="myProgress">
                                        <div id=@($"myBar{i}")>0%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="row">
                <div class="col-lg-12">
                    @*<label asp-for="Student.ImageUrlPSA"></label>*@
                    <input id="url-psa-img1" asp-for="Student.ImageUrlPSA" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.ImageUrlPSA"></span>
                </div>
                <div class="col-lg-12">
                    @*<label asp-for="Student.ImageUrlID"></label>*@
                    <input id="url-psa-img2" asp-for="Student.ImageUrlID" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.ImageUrlID"></span>
                </div>
                <div class="col-lg-12">
                    @*<label asp-for="Student.ImageUrlMoral"></label>*@
                    <input id="url-psa-img3" asp-for="Student.ImageUrlMoral" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.ImageUrlMoral"></span>
                </div>
                <div class="col-lg-12">
                    @*<label asp-for="Student.ImageUrlMoral"></label>*@
                    <input id="url-psa-img4" asp-for="Student.ImageUrlReportCard" class="form-control" required />
                    <span class="alert-danger text-danger" asp-validation-for="Student.ImageUrlReportCard"></span>
                </div>
            </div>

            <hr />
            <br />
            <div class="submit-btn-container">
                <input type="submit" value="Save" class="btn btn-primary submit-btn" />
                <a onclick="return confirm('Are you sure you want to cancel enrollment?');" class="btn btn-default" href="/">Cancel</a>
            </div>

        </form>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*upload scripts*@
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/upload.js" asp-append-version="true"></script>


</body>
</html>