@page
@model IndexModel
@{
    ViewData["Title"] = "SAJCTI";
}
@{
    ViewData["Title"] = "Home Page";
    var brochurePdf = "pdfs/brochure0123SAJCTI.pdf";
    var enrollFormPdf = "pdfs/enroll0123form.pdf";
}

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-auto text-uppercase main-heading">Saint Arnold Janssen College of Tacloban, Inc.</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Creating Professionals</h2>
            <a href="/enroll" class="btn btn-primary js-scroll-trigger">Enroll</a>
            <a href=@brochurePdf class="btn btn-primary js-scroll-trigger" target="_blank">Brochure</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                @*<h2 class="text-white mb-4">About</h2>
                    <p class="text-white-50">
                        [Under Construction] Random words here but will add something later on.
                        <a href="#">something here</a>. More info coming soon.
                    </p>*@
                <div class="headings-cs heading-vision">
                    <img src="~/imgs/vine-border-right01.png" />
                    <h2 class="text-white mb-4">VISION</h2>
                    <img src="~/imgs/vine-border-right01.png" style="transform: scaleX(-1);" />
                </div>
                <p class="text-white-50">
                    Saint Arnold Janssen College of Tacloban, Inc. (SAJCTI),
                    envisage globally competitive, productive and skilled
                    professionals and servant-leaders, embolden with the ideals,
                    Charism and Spirituality of Saint Arnold Janssen, founder of
                    the Society of the Divine Word.
                </p>

                <div class="headings-cs heading-mission">
                    <img class="vine-mission" src="~/imgs/vine-border-right02.png" />
                    <h2 class="text-white mb-4">MISSION</h2>
                    <img src="~/imgs/vine-border-right02.png" />
                </div>
                <p class="text-white-50">
                    SAJCTI, the Prime Catholic Institution of Region 08
                    aims to produce graduates who are grounded in God's
                    word through dynamic, excellent and contextualized
                    integration of instruction, research and extension services,
                    and are:
                    <br />
                    <br />
                    a. Problem-solvers and moral servant-leaders; <br />
                    b. Innovators and collaborators; and <br />
                    c. Agents of change for a more Humane and Just World.
                </p>

                <h2 class="text-white mb-4 heading-corevalues">CORE VALUES <br /> - I RESET -</h2>
                <p class="text-white-50">
                    Integrity <br />
                    Responsibility and Accountability<br />
                    Excellence <br />
                    Spirituality <br />
                    Environmental Justice <br />
                    Transformation <br />
                    <br />
                    <b>MOTTO:</b> <br />
                    SERVUS - VIRTUS - DEVOTION
                </p>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-sm pt-4 pb-5">
                <img src="~/imgs/logo/logo_720_8bit.png" class="img-fluid" alt="St. Arnold Janssen College of Taclobn, Inc. Logo">
            </div>
            @*TODO: Make logo text centered with logo image*@
            <div class="col-sm pt-5">
                <h2 class="text-white">The Logo</h2>
                <p class="text-white-50">
                    The SAJCTI logo embodies the ideals  of the college
                    as a religious missionary higher education institution.
                    <br /><br />
                    The Ropes denote the Universality of the Church (outer)
                    and the binds of SVD Charism (inner).
                    <br /><br />
                    The Golden Star hints the Dawning Birth of SAJCTI.
                    The Green Twin-stars shine both for Saint Arnold
                    Janssen and Saint Joseph Freinademetz.
                    <br /><br />
                    The lit Torch and the Laurel, respectively, symbolize
                    the universal quest for Intellect and Soul Nourishments
                    propelled by the perpetual invitation to “Witness to the
                    Word” in pursuit of Excellence for the success of
                    students/management/stakeholders. <br />
                </p>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</section>



<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">


                <img class="img-fluid mobile-image" src="~/imgs/swim_pool_audit/swimming_pool_auditiorium_720.jpg" alt="swimming pool auditorium" />
                <img class="img-fluid desktop-image" src="~/imgs/swim_pool_audit/swimming_pool_auditiorium_1080.jpg" alt="swimming pool auditorium" />

            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Swimming Pool Auditorium</h4>
                    <p class="text-black-50 mb-0">
                        Provided for physical education classes, recreational activities,
                        leisure, and competitive athletics such as swimming teams.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6" style="overflow:hidden;">
                <div class="img-fluid">
                    <div class="photobanner-crimlab">
                        <div class="first img-imitate">
                            <div class="photobanner-crimelab-container">
                                <!--First block in banner-->
                                <div class="box1 bg-dark" style="height: 100%;">
                                    <img class="fit-image" src="~/imgs/crimelab/crime_lab_720_new014fprintglass.jpg" />
                                </div>
                                <div class="box2 bg-info">
                                    <img class="fit-image" src="~/imgs/crimelab/crime_lab_02_400p.jpg" />
                                </div>
                                <div class="box3 bg-secondary">
                                    <img class="fit-image" src="~/imgs/crimelab/crime_lab_01_400p.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="img-imitate">
                            <div class="photobanner-crimelab-container">
                                <!--Second block in banner-->
                                <div class="box1 bg-dark" style="height: 100%;">
                                    <img class="fit-image" src="~/imgs/crimelab/dark_room_01_720.jpg" />
                                </div>
                                <div class="box2 bg-info">
                                    <img src="~/imgs/crimelab/dark_room_02_400.jpg" />
                                </div>
                                <div class="box3 bg-secondary">
                                    <img src="~/imgs/crimelab/dark_room_03_400.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="img-imitate crimlab-last-img">

                            <img class="fit-image" src="~/imgs/crimelab/dark_room_04_400.jpg" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="crimlab-text project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Crime Lab</h4>
                            <p class="mb-0 text-white-50">
                                Which includes the Dark Room, Interrogation Room, and Crime Room where
                                students employ investigative techniques utilized in the recognition,
                                collection, preservation, and analysis of physical evidence. Students who
                                complete lab classes in the CRIM department, will get some insight into
                                what it’s like to properly collect and interpret evidence, and then to present
                                that evidence in court. The classes that utilize the criminalistics laboratory
                                are designed to stimulate student interest and develop capabilities for law
                                enforcement services.
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6 computer-lab-bg">
                <img class="img-fluid mobile-image" src="~/imgs/computerlab/computer_lab_720.jpg" alt="computer_lab">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">


                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <br class="br-toggle" />
                            <br class="br-toggle" />
                            <br class="br-toggle" />
                            <h4 class="text-white">Computer Lab</h4>
                            <p class="mb-0 text-white-50">
                                For Classroom teachers that use the lab with their classes for
                                research, scientific or otherwise, or for creating technology-based
                                projects.
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                            <br class="br-toggle" />
                            <br class="br-toggle" />
                            <br class="br-toggle" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        @*FEATURED PROJECT TWO*@
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">

                <img id="gym-pic1" class="img-fluid mobile-image" src="~/imgs/gym/gym1_720_low.jpg" alt="gymnasium" />
                <img id="gym-pic2" class="img-fluid mobile-image" src="~/imgs/gym/gym2_720_low.jpg" alt="gymnasium" />
                <img id="gym-pic3" class="img-fluid mobile-image" src="~/imgs/gym/gym_720_low.jpg" alt="gymnasium" />

                <img class="img-fluid desktop-image" src="~/imgs/gym/gym1_1080_low.jpg" alt="gymnasium" />

            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Fr. Eugene Stoll, SVD - Memorial Gymnasium</h4>
                    <p class="text-black-50 mb-0">
                        Provides students learning healthy lifestyle habits, offering an opportunity to get active,
                        allowing students to de-stress, and improving overall academic performance.
                    </p>
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <!-- Project Three Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6" style="overflow:hidden;">
                <div class="img-fluid">
                    <div class="photobanner-deftac">
                        <img class="first-3" src="~/imgs/deftac/deftac_01.jpg" />
                        <div class="img-imitate">
                            <div class="photobanner-deftac-container">
                                <!--Second block in banner-->
                                <div class="deftac-box1">
                                    <img class="fit-image" src="~/imgs/deftac/deftac_02.jpg" />
                                </div>
                                <div class="deftac-box2">
                                    <img class="fit-image" src="~/imgs/deftac/deftac_03.jpg" />
                                </div>
                                <div class="deftac-box3">
                                    <img class="fit-image" src="~/imgs/deftac/deftac_04.jpg" />
                                </div>
                            </div>
                        </div>
                        <img class="img-fluid" style="height: 100%;" src="~/imgs/crimelab/dark_room_04_400.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">DEFTAC Room</h4>
                            <p class="mb-0 text-white-50">
                                Students will undergo martial arts, defensive arts, and
                                physical competitive activities.


                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Four Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6" style="overflow:hidden;">
                <div class="img-fluid">
                    <div class="photobanner-mootcourt">
                        <img class="img-fluid first-2" style="height: 100%;" src="~/imgs/mootcourt/moot_court_01.jpg" />
                        <img class="img-fluid" style="height: 100%;" src="~/imgs/mootcourt/moot_court_02.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">MOOT Court</h4>
                            <p class="mb-0 text-white-50">
                                Students will take part in a simulated court or arbitration proceedings,
                                usually involving drafting memorials or memoranda, participating in oral
                                argument. It is a valuable opportunity to hone both their written and oral
                                advocacy skills, and ability to analyze a problem.
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<!--REQUIREMENTS, shares about section css-->
<section id="requirements" class="about-section text-center requirements-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-white">REQUIREMENTS</h1>
                <br />
                <h2 class="text-white">ENROLLMENT</h2>
                <p class="text-white-50">
                    Form 138 - 1st year<br />
                    Certificate of Good Moral Character - 1st year<br />
                    PSA issued live birth - 1st & 2nd year<br />
                    Thick long brown envelope - 1st & 2nd year<br />
                    2 pcs passport size ID picture - 1st & 2nd year<br />
                    Honorable Dismissal - 2nd year only
                </p>

                <h2 class="text-white">ENTRANCE EXAM</h2>
                <p class="text-white-50">
                    Form 138 (photocopy) - Grade 12 completer<br />
                    "PASSED" mid-term ratings (Certified by School)<br />
                    Filled-in Application <a href=@enrollFormPdf target="_blank">form</a> <a href=@enrollFormPdf target="_blank">(enrollment_form.pdf)</a><br />
                    2 pcs passport size ID picture<br />
                    Testing fee 300.00 pesos
                </p>

            </div>
        </div>
    </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">You are welcome to query with us. Continue scrolling to get in touch.</h2>

                @*<form class="form-inline d-flex">
                        <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                    </form>*@

                @*<div class="btn btn-primary mx-auto">Enroll</div>*@
            <a href="/enroll" class="btn btn-primary mx-auto">Enroll</a>
                <a href=@brochurePdf target="_blank" class="btn btn-primary mx-auto">Brochure</a>


            </div>
        </div>
    </div>
    <div>

    </div>
</section>



<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            Janssen Bldg., LVD Compound, <br />
                            Brgy. 45, Sta. Cruz Street, <br />
                            6500 Tacloban City, <br />
                            Leyte, <br />
                            Philippines
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="mailto:sajctisvd@gmail.com">sajctisvd@gmail.com</a><br />
                            <a href="mailto:sajcti_edu.ph@yahoo.com">sajcti_edu.ph@yahoo.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        @*<div class="small text-black-50">09156518049 Globe</div>
                            <div class="small text-black-50">09235231128 Smart</div>*@
                        <div class="small text-black-50">09564303142 Globe</div>
                        <div class="small text-black-50">09615092819 Smart</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="social d-flex justify-content-center">
            @*<a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>*@
            <a href="https://web.facebook.com/Saint-Arnold-Janssen-College-of-Tacloban-Inc-106138877763100/" target="_blank" class="mx-2">
                <i class="fab fa-facebook-square"></i>
            </a>
            @*<a href="#" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>*@
        </div>

    </div>
</section>
